html,body{
	height: 100%;
}

a{
	color: white;
}

.cabecera{
	background-image: url(imagenes/Comics.jpg);
	height: 250px;
	font-size: 77px;
	color: rgb(255,51,0);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.navPrinc{
	background-color: orange;
	height: 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
#seccion{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav{
	float: left;
	width: 18%;
	height: 1500px;
	background-color: rgb(255,51,0);
}
.contenido{
	display: grid;
	grid-gap: 100px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
	margin-left: 100px;
	margin-top: 40px;
}
.contiene_imagenes{
	display: grid;
	grid-gap: 2%;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-template-rows: 150px;
	justify-content: center;
}
h1{
	font-size: 38px;
	font-style: italic;
}
h2{
	font-size: 28px;
	margin-left: 10px;
	margin-right: 10px;
}
h4{
	font-size: 12px;
	margin-left: 1px;
	margin-right: 1px;
	color: lightgrey;
}
p{
	font-size: 19px;
	margin-left: 10px;
	margin-right: 10px;
}
.img1{
	background-color: lightgrey;
}
.img2{
	background-color: lightgrey;
}
.img3{
	background-color: lightgrey;
}
#img1{
	height: 110px;
	width: 200px;
	margin-top: 2%;
}
#pieFoto{
	font-size: 12px;
	margin-bottom: 2%;
	font-style: italic;
}
#Epinal{
	background-color: lightgrey;
	float: right;
	width: 290px;
	height: 450px;
	margin: 2px;
}
@media (max-width:  1200px) {
	#Epinal{
		background-color: lightgrey;
		width: 290px;
		height: 450px;
		margin: 0 auto;
	}
}
#imgEpinal{
	height: auto;
	width: 100%;
	margin-top: 2%;
}

#imgest{
	height: 200px;
}

.imgizq{
	margin-left: 20%;
	float: left;
}

.imgder{
	margin-right: 20%;
	float: right;
}

#imgrev{
	height: 400px;
}

#estilos{
	font-size: 1vw;
}

.imgizqu{
	margin-left: 10%;
	width: 20%;
	float: left;
}

.imgcent{
	margin-left: 10%;
	margin-right: 10%;
	width: 20%;
	float: left;
}

.imgdere{
	width: 20%;
	margin-right: 10%;
	float: right;
}

#autores{
	height: 410px;
	position: relative;
}
th{
	width: 33%;
	padding-top: 5%;
}
#galeria{
	width: 50%;
}